.grid {
    background: #EEE;
    max-width: 80vw;
    max-height: 40vh;
  }
  
  
  
  /* ---- grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
  
  .grid-item {
    height: 120px;
    float: left;
    
  }
  
  .grid-item--width2 { width:  40%; }
  .grid-item--width3 { width:  60%; }
  
  .grid-item--height2 { height: 200px; }
  .grid-item--height3 { height: 260px; }
  .grid-item--height4 { height: 360px; }
  