
.Search {

    text-align: center;
    height:100vh;
}

#title {
    margin:0;
    color: white
}

#form{
    padding-top:10vh;
    position: absolute;
    width: 45vw;
    height: 60vh;
    left: 27.5vw;
    top: 10vh;
    background: linear-gradient(180deg, #97A5CC 0%, #C7A6AA 50%, #C68076 100%), #F2F2F2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

#pik{
    width:20vh;
    height:auto;  
}

#amount, #query {
    width: 30vw;
    height: 5vh;
    color: white;
}
